<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="/styles/main.css">
<!------ Include the above HEAD tag ---------->

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Redd's Arts</title>
		<!-- page icon -->
		<!--<link rel="icon" type="image/png" href="/favicon.png"/>-->
		<link rel="icon" type="image/png" href="https://acpocketnews.com/wp-content/uploads/2020/04/Blathers.jpg"/>
		<!-- include css-->
		<link rel="stylesheet" href="/styles/show.css">
		<link rel="stylesheet" href="/styles/main.css">
		<!-- Bootstrap css-->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" id="bootstrap-css">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
		<!-- font link -->
		<link href="https://fonts.googleapis.com/css2?family=Notable&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Roboto:ital@1&family=Rubik:ital,wght@1,300&family=Staatliches&display=swap" rel="stylesheet">
		<!-- jquery link -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.js" async></script>
		<script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		
	</head>
	
	<body>
		<nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
			<div class="container">
				<a class="navbar-brand" href="/"><span class="fa fa-camera-retro"></span> Redd's Arts</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarResponsive">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item"><a class="nav-link" href="/arts">View Redd's Arts</a></li>
						<% if(!currentUser){ %>
						<li class="nav-item"><a class="nav-link" href="/register">Sign Up</a></li>
						<li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
						<% } else { %>
						<li class="nav-item"><a class="nav-link" href="#">Signed In As <%= currentUser.username %></a></li>
						<li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
						<% } %>
					</ul>
				</div>
			</div>
		</nav>
		<!-- flash bar-->
		<div class="container">
			<% if(error && error.length > 0){ %>
			<div class="alert alert-danger" role="alert">
				<%= error %>
			</div>
			<% } %>
			<% if(success && success.length > 0){ %>
			<div class="alert alert-success" role="alert">
				<%= success %>
			</div>
			<% } %>
		</div>
		
		<div class="back">
			<div class="container">
				<div class="row">
					<div class="col-6 col-md-4">
						<div class="list-group">
							<li class="list-group-item active">Redd's Art</li>
							<li class="list-group-item">Art in the museum</li>
							<li class="list-group-item">Museum Infomation</li>
						</div>
						<hr>
						<div id="map"></div>
					</div>
					<div class="col-12 col-md-8" id="display">
						<div class ="img-thumbnail">
							<img src="<%= art.image %>" class="img-fluid center-block">
						<hr>
						<img src="<%= art.museumimage %>" class="img-fluid center-block">
						</div>
						<div class ="caption">
							<h4 class="pull-right mt-2"><%= art.museum %></h4>
							<h2 class =" mt-2"><%= art.name%></h2>
							
							<div class="pull-right" style="padding-top: 14px;">
								<button type="button" class="btn btn-xs btn-primary rounded-pill " data-toggle="modal" data-target="#artLikes">
									<span>Total likes: <i class="fas fa-thumbs-up"></i> <%= art.likes.length %></span>
								</button>
							</div>
							<div style="padding-top: 12px;">
								<form action="/arts/<%= art._id %>/like" method="POST">
									<div class="btn-group">
										<% if (currentUser && art.likes.some(function (like) {
											return like.equals(currentUser._id)
										})) { %>
										<button class="btn btn-xs btn-primary mt-1">
											<i class="fas fa-thumbs-up"></i> Liked (<%= art.likes.length %>)
										</button>
										<% } else { %>
										<button class="btn btn-xs btn-secondary mt-1">
											<i class="fas fa-thumbs-up"></i> Like (<%= art.likes.length %>)
										</button>
										<% } %>
										<button type="button" style="background-color: white" class="btn btn-xs btn-default mt-1" data-toggle="modal" data-target="#artLikes">See more details</button>
									</div>
								</form>
							</div>	
						</div>
						<h5 class="pull-right" style="padding-top: -2px;">$ <%= art.ticket %>/entry</h5>
						<p><em>Submitted By <%= art.author.username %>, <%= moment(art.createdAt).fromNow() %></em></p>
						<hr>
						<p id= "description"><em><%= art.info %></em></p>
						<hr>
						
						
						<% if(currentUser && art.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
						<a class="btn btn-xs btn-warning" href="/arts/<%= art._id %>/edit">Edit</a>
						<form id="delete-form" action="/arts/<%= art._id %>?_method=DELETE" method="POST">
							<button class="btn btn-xs btn-danger">Delete</button>
						</form>
						<% }%>
						
						<div class="well">
							<!--Setting up the add new comment button that is used for collapsing-->
							<div class="text-right" style="padding-top: 14px;">
								<a class="btn btn-success pull-right rounded-pill" role="button" data-toggle="collapse" href="#collapseComment" aria-expanded="false" aria-controls="collapseComment">
									<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add new comment</a>
							</div>
							<!--Comment section title-->
							<h4 style="padding-top: 2px; padding-bottom: 10px;"><strong>Comments 
								<span class="iconify" data-icon="bx:bx-comment-detail" data-inline="false"></span></strong>
							</h4>
							<!--Collapse Add a comment form START-->
							<div class="collapse" id="collapseComment">
								<div class="well" style="border-left: 5px solid #00C851;">
									<% if(!currentUser) { %>
									<!--If the user is not logged in, direct him to the login page-->
									<h5>You need to login before you can comment. 
										<a href="/login">Click here</a> to go to the login page.
									</h5>
									<% } %>
									<% if(currentUser) { %>
									<!--If the user is logged in, show the new comment form-->
									<h4 style="margin-left: 5px;">Add Comment to <%= art.name %>  <span class="iconify" data-icon="la:pen-alt-solid" data-inline="false"></span></h4>
									<form id="add-comment-form" action="/arts/<%= art._id %>/comments" method="POST">
										<div class="form-group" style="margin-left: 5px;">
											<input class="form-control" type="text" disabled value="<%= currentUser.username %>">
										</div>
										<div class="form-group" style="margin-left: 5px;">
											<textarea class="form-control" name="comment[text]" placeholder="Write what you want to say..." form="add-comment-form" rows="5" cols="70"></textarea>
										</div>
										<div class="form-group" style="margin-left: 5px;">
											<button class="btn btn-success btn-sm rounded-pill">Comment 
												<span class="iconify" data-icon="bx:bx-comment-detail" data-inline="false"></span>
											</button>
										</div>
									</form>
									<% } %>
								</div>
							</div>
							<!--Collapse Add a comment form END-->
							
							
							<!--Check if there are comments, if there are none say no comments.-->
							<% if (art.comments.length === 0) { %>
							<em style="color: grey;">No comments yet.</em>
							<% } %>
							<!--Display comments by looping through them-->
							<% art.comments.forEach(function(comment){ %>
							<div class="row">
								<div class="col-md-12" >
									<strong >
										<% if (currentUser && currentUser._id.equals(comment.author.id)) { %>
										<!--If the current user owns the comment, change the color of the user icon-->
										<span style="color: orange;" class="iconify" data-icon="carbon:user-favorite-alt-filled" data-inline="false"></span>
										<% } else { %>
										<!--Else just display it black-->
										<span class="iconify" data-icon="carbon:user-favorite-alt" data-inline="false"></span>
										<% } %><%= comment.author.username %>
									</strong>
									
									<!--Show when the comment was made-->
									<span class="pull-right"><%= moment(comment.createdAt).fromNow() %></span>
									<p><%= comment.text %> </p>
									
									<% if(currentUser && comment.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
									<a class="btn btn-xs btn-warning" role="button" data-toggle="collapse" href="#collapseEdit<%= comment._id %>" aria-expanded="false" aria-controls="collapse<%= comment._id %>">Edit</a>
									<!--Delete comment button-->
									<form id="delete-form" action="/arts/<%=art._id %>/comments/<%=comment._id %>?_method=DELETE" method="POST">
										<button type="submit" class="btn btn-xs btn-danger">Delete</button>
									</form>
									<!--Edit comment form-->
									<div class="collapse" id="collapseEdit<%= comment._id %>">
										<div class="well" style="border-left: 5px solid #ffbb33; margin-top: 15px;">
											<h4 class="masthead-heading mb-0" style="margin-left: 5px;">Edit Comment<span class="glyphicon glyphicon-edit" aria-hidden="true"></span></h4>
											<form id="edit-comment-form<%= comment._id %>" action="/arts/<%= art._id %>/comments/<%= comment._id %>?_method=PUT" method="POST">
												<div class="form-group" style="margin-left: 5px;">
													<input class="form-control" type="text" disabled value="<%= currentUser.username %>">
												</div>
												<div class="form-group" style="margin-left: 5px;">
													<textarea class="form-control" name="comment[text]" placeholder="Your comment text..." form="edit-comment-form<%= comment._id %>" rows="5" cols="70"><%= comment.text %></textarea>
												</div>
												<div class="form-group" style="margin-left: 5px;">
													<button class="btn btn-warning btn-sm rounded-pill">Edit comment 
														<span class="iconify" data-icon="bx:bx-comment-detail" data-inline="false"></span>
													</button>
												</div>
											</form>
										</div>
									</div>
									<% } %>
									<hr>
								</div>
							</div>
							<% }); %>
						</div>
						<!--COMMENT SECTION END-->

							
							
							
							<!-- <div class="text-right">
								<a class="btn btn-success rounded-pill" href="/arts/<%= art._id %>/comments/new">Add New Comment</a>
							</div> -->
							<!-- <hr>
							<% art.comments.forEach(function(comment){ %>
							<div class="row">
								<div class="col-md-12">
									<strong class="pull-right"><%= comment.author.username %></strong>
									<p><%= comment.text %> </p>
									<span class="pull-right"><%= moment(comment.createdAt).fromNow() %></span>
									
									<% if(currentUser && comment.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
									<a class="btn btn-xs btn-warning" 
									   href="/arts/<%=art._id %>/comments/<%=comment._id %>/edit">Edit</a>
									<form id="delete-form" action="/arts/<%=art._id %>/comments/<%=comment._id %>?_method=DELETE" method="POST">
										<input type="submit" class="btn btn-xs btn-danger" value="Delete">
									</form>
									<% } %>
								</div>
							</div>
							<% }); %> -->
					</div>
				</div>
			</div>
		</div>
		
		<!-- Footer -->
		<footer class="footer-dark">
			<div class="container">
				<div class="info">
					<h3>Credit to Nintendo</h3>
					<ul><li><a herf="https://www.nintendo.com/games/detail/animal-crossing-new-horizons-switch/">
						Animal Crossing™: New Horizons</a></li></ul>
				</div>
				<div class="col item social">
					<a href="https://www.linkedin.com/in/jing-shen-547777110/">
						<span class="iconify" data-icon="ion:logo-linkedin" data-inline="false"></span>
					</a>
					<a href="https://github.com/jshen1110/">
						<span class="iconify" data-icon="ion:logo-github" data-inline="false"></span>
					</a>
				</div>
				<p class="copyright">&copy; 2020 Jing Shen</p>
			</div>
		</footer>

<!-- Art Likes Modal -->
<div id="artLikes" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Artwork likes: <%= art.likes.length %></h4>
			</div>
			<div class="modal-body">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Liked by:</th>
						</tr>
					</thead>
					<tbody>
						<% art.likes.forEach(function(like) { %>
						<tr>
							<td><span class="badge"><i class="fas fa-user"></i></span> <%= like.username %></td>
						</tr>
						<% }); %>
						<% if (art.likes.length === 0) { %>
						<tr>
							<td><em>No likes yet.</em></td>
						</tr>
						<% } %>
					</tbody>
				</table>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
		
<script>
  function initMap() {
    var lat = <%= art.lat %>;
    var lng = <%= art.lng %>;
    var center = {lat: lat, lng: lng };
    var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 8,
        center: center,
        scrollwheel: false
    });
    var contentString = `
      <strong><%= art.name %><br />
      <%= art.location %></strong>
      <p><%= art.description %></p>
    `
    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });
    var marker = new google.maps.Marker({
        position: center,
        map: map
    });
    marker.addListener('click', function() {
      infowindow.open(map, marker);
    });
  }
</script>
		
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBcliEK8G648Noa6qUoJOfacgsbAXsQnf4&callback=initMap"></script>
		<script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
	</body>
</html>